@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    background-color: #1f2937;  
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.page-wrapper {
    width: 80%;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #f9faf8;
    margin-bottom: 120px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 16px;
    margin: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    margin-top: 12px;
    padding: 6px 36px;
    color: white;
    font-size: 18px;
    font-weight: 800;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 12px;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.content {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.hero-image {
    width: 550px;
    max-width: 550px;
    min-width: 550px;
    height: 250px;
}

.hero-div {
    margin: 0 24px;
}



