@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
}

.home-page {
    background-color: #1f2937 ;
    width: 100%;
    height: auto;
}

header {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    margin-bottom: 120px;
    justify-content: space-between;
    padding: 20px;
    margin-right: 120px;
    margin-left: 120px;
    width: 80%;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 26px;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    margin-top: 12px;
    padding: 6px 36px;
    color: white;
    font-size: 18px;
    font-weight: 800;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 12px;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.content {
    display: flex;
    gap: 120px;
    justify-content: space-evenly;
    padding: 20px;
    margin-right: 120px;
    margin-left: 120px;
    flex-wrap: wrap;
    margin-bottom: 140px;
    width: 80%;
}

.hero-image {
    width: 600px;
    height: 250px;
}

.hero-div {
    margin: 0 24px;
    width: 500px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 30px;
} 

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    padding-top: 80px;
    flex-direction: column;
    height: auto;
}


h1 {
    color: #1f2937;
}

.card-holder {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 70px;
    width: 90%;
    margin-bottom: 180px;
}

.cards {
    margin: 0 auto;
}

.card-text {
    width: 150px;
    margin-top: 10px;
    font-size: 18px;
}

.card-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 8px;
    padding: 10px;
}

.quote-section {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    
}

.quote-section q {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding-top: 30px;
    margin-bottom: 180px;
    margin-top: 250px;
}

.quote-author {
    margin-top: 320px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 140px;
}

.about-section {
    width: 100%;
    display: flex;
    background-color: white;
}

.action-holder {
    margin: 10% auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.action-text-holder {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 70px;
}

.action-button-holder {
    margin-right:70px;
}

.action-button {
    border-radius: 8px;
    border:1px solid white;
}

footer {
    display: flex;
    color: white;
    width: 100%;
    background-color: #1f2937 ;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
